@implements IDisposable
@inject ISessionViewModel SessionViewModel

<div class="d-inline-flex">
    <label style="color: whitesmoke">
        Environment:&nbsp;@(SessionViewModel.HostEnvironment.Environment)&nbsp;&nbsp;
    </label>
    <label class="mr-3"
           for="TraceIdTextBox"
           style="color: whitesmoke">
        TraceId:&nbsp;&nbsp;
    </label>
    <input id="TraceIdTextBox"
           type="text"
           class="form-control form-control-sm mr-3"
           value="@(SessionViewModel.TraceId.ToString())"
           style="width: 300px;" />
    &nbsp;&nbsp;
    <button type="button"
            title="Copy to Clipboard"
            class="mr-3"
            onclick="let control = document.getElementById('TraceIdTextBox'); control.focus(); control.select(); document.execCommand('copy'); return false;">
        <i class="far fa-copy"></i>
    </button>
    <button type="button"
            title="Generate new Id"
            class="mr-3"
            @onclick="() => SessionViewModel.NewTraceId()">
        <i class="fa fa-file-o"></i>
    </button>
    &nbsp;&nbsp;
</div>

@code {

    public void Dispose() =>
        SessionViewModel.StateHasChangedEvent -= SessionViewModel_StateHasChangedEvent;

    protected override void OnInitialized()
    {
        SessionViewModel.StateHasChangedEvent += SessionViewModel_StateHasChangedEvent;

        base.OnInitialized();
    }

    protected void SessionViewModel_StateHasChangedEvent(object sender, EventArgs e) =>
        StateHasChanged();

}
